[submodule "tuts/scipy-2017-sklearn"]
	path = tuts/scipy-2017-sklearn
	url = https://github.com/amueller/scipy-2017-sklearn
[submodule "tuts/nn-from-scratch"]
	path = tuts/nn-from-scratch
	url = https://github.com/weiji14/nn-from-scratch
